extends ../../../layouts/main

block content
	.welcome.sixteen.columns
		
		h1.header CLIENTES....

		p Entre nuestros clientes y debido a las diferentes ramas de intervención en las que estamos especializados, trabajamos con entidades tanto públicas como privadas. Entre nuestros clientes se encuentran:

		ul.disc
			li Comunidades de vecinos.
			li Gobierno Vasco.
			li Ayuntamientos varios.
			li Diputación Foral de Guipúzcoa.
			li Decoradores y Técnicos.
			li Clientes particulares.

		br
		.center
			.button
				a(href="/contacto") Solicitar información