extends ../../../layouts/main

block content

	.sixteen.columns.center
		h3.header Datos de contacto

		p Tel.: 943 100 087
		p Calle Iglesia nº4 5d 20302 Irún
		p Email: antedi@antedi.com

	.sixteen.columns
		h3.header Formulario de contacto

	.upload-form.fifteen.columns.center
		form(action='/contacto', name='contacto', id='contacto', method='post')
				p
					label(for='name') Nombre:

					input(name='name' type='text' required)
				p
					label(for='email') Email:

					input(name='email' type='email' required placeholder="Debes introducir una dirección de email valida")
				p
					label(for='mensaje') Mensaje:

					textarea(name='mensaje' cols='40' rows='10' required)
				p
					input(name='submit' type='submit' value='Enviar')
	.two.columns
		p #{msg}
		
if(typeof msg !== 'undefined')
	if(!!err)
		div(class='msgbox err') #{msg}
	else
		div(class='msgbox success') #{msg}