extends ../../../layouts/main

block content
	.welcome.sixteen.columns
		h1.header A QUE NOS DEDICAMOS...

		p Construcciones Antedi S.L proviene de un grupo dedicado a la ejecución de obra nueva, rehabilitación de fachadas y cubiertas y ejecución de reformas integrales en viviendas, edificios públicos y locales.

		p ​El motivo y el porqué de nuestra empresa, no es otro que el de satisfacer y abarcar las diferentes ramas principales de la construcción.

		ul.disc
			li Todo tipo de reformas y mantenimiento de edificios.
			li Obra nueva.
			li Cubiertas.
			li Fachadas.
			li Reparación de estructuras.
			li Viviendas particulares.
			li Locales.
			li Montaje de ascensores.
			li Proyectos, informes de patologías, ITE, certificados energéticos...
