extends ../../../layouts/main

block content
	.welcome.sixteen.columns
		h1.header QUIENES SOMOS...
		
		p Provenientes de una familia dedicada a la construcción y con una experiencia de mas de 27 años en el sector, contamos con personal especifico para cada una de las diferentes especialidades a las que nos dedicamos.

		p ​Construcciones Antedi S.L cuenta con un equipo joven y con gran experiencia en el sector tanto en obra nueva como en reforma entendiendo que el cliente es la persona más importante de vuestra empresa a la que se le ofrece un trabajo e calidad en todos nuestros servicios.​

		p ​Nuestros gremios son parte de la empresa con los que llevamos muchos años trabajando. Así, electricistas, fontaneros, carpinteros, herreros, cristaleros, escayolistas, pintores, etc. son parte vital de lo que llamamos Antedi S.L.

		p ​Especialistas en mantenimiento de edificios tanto públicos como particulares, contamos con servicio 24 horas para nuestros clientes en todos los servicios necesarios (fontanería, cerrajería, electricidad...).

		p ​Contamos con Técnicos competentes para hacer todo tipo de inspecciones y proyectos necesarios en la construcción y rehabilitación de edificios, locales, ascensores...

		br
		.center
			.button
				a(href="/contacto") Solicitar información